* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: 0;
    /* margin:10px 10px 10px 10px; */

}

header{ 
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    background: linear-gradient(rgb(42, 41, 41), white);

}

header h1{
    color:white;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
    padding: 10px 10px;
    
    /* padding-top: 40px;
    text-shadow: 2px 2px 5px rgb(149, 148, 148);
    padding-left: 10px;
    padding-right: 10px; */

}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding-top: 20px;
    flex-wrap: wrap;
    padding-bottom: 20px;

}

header ul li{
    text-decoration:none;
    font-size: 18px;
    font-weight: 300;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.152);

}

header a{
    text-decoration: none;
    color:white;
}

header a:hover{
    color:#1b1b1b;
    transition: all 1.5s;
    transform: scale(1.1);

}
.container{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content:space-between;
    gap: 50px;

 }


 section{
    min-width: 100px;

 }

 .genio{
    text-align: center;
    padding-bottom: 15px;
    font-size: 30px;
 }

 section p{
    line-height: 1.7rem;
    font-size: 20px;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px 15px;
    padding-bottom: 30px;
    /* text-indent: 30px; */

 }

 section div{
    text-align: center;
 }

 h2{
    text-align:left;
    padding-top: 20px;
    padding-left:20px;

 }
.um img{ 
    margin: 0;
    width: 80%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-radius: 100%;
    height: 50vh;

}

.dois img{
    margin: 0;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);

}

.tres img{
    margin: 0;
    width: 98%; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
  
}

.quatro img{
    margin: 0;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);

   
}

.autora{
    text-align: center;
    font-size: 25px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418); */
    

}

footer{
    /* position: relative; */
    color: #fff;
    /* background-color: #806a5f; */
    background: linear-gradient(rgba(255, 255, 255, 0.25) 0px, transparent 10px);
    background-color: #7c665b;

    background-size: 20px 20px;
    opacity:calc(0.85);

    background: 
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;

}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    list-style: none;
    padding-top: 30px;
    padding-bottom: 30px;

}

footer ul li{
    flex-wrap: wrap;
    text-align: center;
    padding: 7px;
    font-size: 16px;   
}

footer ul li:hover{
    color:#f5f1f1f7;
    transition: all 1.5s;
    transform: scale(1.1);
}


.autora{
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 20px;
    text-align: center;
}

 @media screen and (min-width:1240px){

    body{
        margin: 0 auto;
        /* background: linear-gradient(rgb(237, 226, 226),rgb(190, 186, 186)); */
        overflow-x: hidden;
        
    }

    h1{
        font-size: 50px;

    }

    header ul li a{
        font-size:20px
    }

    .genio{
        padding-bottom: 20px;
    }

    .um img{
    margin: 0;
    width: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-radius:none;
    height: 50vh;

    }

    

    h2{
        margin-left: 400px;
        margin-right: 500px;
        font-size: 25px;
        /* text-transform: uppercase; para ficar em maiusculo*/
    }

    section p{
        margin-left: 400px;
        margin-right: 500px;
        /* color: white; */
        font-size: 20px;
        line-height: 2rem;
        font-weight: 500;
    }


    section div{
        margin-left: 400px;
        margin-right: 500px;
        width: 700px;        
    }

    section h2{
        text-align: center;
    }

    footer{
        padding: 20px;

    }

    footer ul li{
        font-size: 20px;
        padding: 15px 15px 15px 15px;
    
    }
 }

 /* @media screen and (max-width:740px){

    .um img{
        margin: 0;
        width: 40%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
        border-radius:100%;
        height: 45vh;
    
        }

      section p{
        font-size: 18px;
    }    
 } */









